<footer class="page-footer font-small bg-danger pt-4 fonte-geral">
    <div class="container">
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <h4 class="text-white fs-16">Redes Sociais</h4>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <ul class="social-network">
            <li>
              <a
                href="https://www.linkedin.com/in/camila-santos-ferreira/"
                target="_blank"
                class="iconLinkedin"
              >
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a
                href="https://github.com/camila-santos-ferreira"
                target="_blank"
                class="iconGithub"
              >
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  
    <div class="footer-copyright colorodape text-center py-3 fs-12">
      <span class="text-light">© 2021 Copyright: </span>
      <a
        class="cor-texto"
        target="_blank"
        href="https://www.linkedin.com/in/camila-santos-ferreira/"
        >Camila Santos Ferreira</a
      >
    </div>
  </footer>
