#img-bg {
    background-image: url("https://i.imgur.com/4tV6QHF.jpg");
    min-height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.botao-cancelar {
    padding: 10px 20px;
    border-radius: 8px;
}

.botao-cadastrar {
    padding: 10px 20px;
    border-radius: 8px;
}