<div class="container-fluid fonte-geral">
  <div class="row">
    <div class="col-md-6" id="img-bg"></div>
    <div class="col-md-6 mt-5 mb-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-9">
          <h1 class="text-center fs-32">Cadastre-se</h1>

          <div class="form-group mt-4">
            <label for="nome">Nome:</label>
            <input
              [(ngModel)]="usuario.nome"
              class="form-control"
              type="text"
              name="nome"
              id="nome"
              placeholder="Digite seu nome completo"
            />
          </div>

          <div class="form-group">
            <label for="usuario">Usuário:</label>
            <input
              [(ngModel)]="usuario.usuario"
              class="form-control"
              type="text"
              name="usuario"
              id="usuario"
              placeholder="Digite um e-mail"
            />
          </div>

          <div class="form-group">
            <label for="foto">Link da foto:</label>
            <input
              [(ngModel)]="usuario.foto"
              class="form-control"
              type="text"
              name="foto"
              id="foto"
              placeholder="Link da sua foto"
            />
          </div>

          <div class="form-group">
            <label for="foto">Data de nascimento:</label>
            <input
              [(ngModel)]="usuario.dataNascimento"
              class="form-control"
              type="date"
              name="dataNasc"
              id="dataNasc"
            />
          </div>

          <div class="form-group">
            <label for="senha">Senha:</label>
            <input
              (input)="confirmeSenha($event)"
              class="form-control"
              type="password"
              name="senha"
              id="usuario"
              placeholder="Digite sua senha"
            />
          </div>

          <div class="form-group">
            <label for="confirmarSenha">Confirmar senha:</label>
            <input              
              [(ngModel)]="usuario.senha"
              class="form-control"
              type="password"
              name="confirmarSenha"
              id="confirmarSenha"
              placeholder="Confirme sua senha"
            />
          </div>

          <div class="form-group">
            <label for="tipo">Tipo de usuário:</label>
            <select class="form-control" name="tipo" id="tipo" (change)="tipoUsuario($event)" >
              <option>Selecione um tipo de usuário:</option>
              <option value="padrao">Padrão</option>
              <option value="administrador">Administrador</option>
            </select>
          </div>

          <div class="d-flex justify-content-center mt-4">
            <button type="submit" class="btn botao-cancelar mr-4" routerLink="/entrar">Cancelar</button>
            <button type="submit" class="btn botao-cadastrar" (click)="cadastrar()">Cadastrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
