#img-bg {
    background-image: url("https://i.imgur.com/raMywTr.jpg");
    min-height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.botao-entrar {
    padding: 10px 20px;
    border-radius: 8px;
}