.fs-32 {
    font-size: 32pt;
}

.fs-10 {
    font-size: 10pt;
}

.bg-inicio {
    background-color: #fff;
}

.text-color {
    color: #dc3545;
}

.btn-color {
    background-color: #dc3545;
    color: #fff;  
    box-shadow: none;
}

.btn-color:hover {
    background-color: #fff;
    color: #dc3545;
    border-color: #dc3545;
}

.btn-color2 {
    background-color: #fff;
    color: #dc3545;
    border-color: #dc3545;
}

.btn-color2:hover {
    background-color: #dc3545;
    color: #fff;
}